body {
    background: #dfe9f5;
    font-family: "Roboto", sans-serif;
  }

  .login-box { 
    width: 360px;
    height: 280px;
    margin-top: 14%;
    margin-left: 39%;
    border-radius: 20px;
    background-color: white;
  }
  
  h1 {
    text-align: center;
    padding-top: 15px;
  }
  
  h4 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin-left: 20px;
  }
  
  form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
  }
  
  form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
  }
  input[type="submit"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #00e6e6;
    color: white;
    font-size: 18px;
  }
  input[type="submit"]:hover{
    color: black;
  border: 2px solid black;
    transition: .5s;
  }
  p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
  }
  .para-2 {
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: -10px;
  }
  .para-2 a {
    font-weight: bold;
    color: #00e6e6;
  }

  .para-2{
    color: black;
  }
