body {
    background: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

html {
    scroll-behavior: smooth;
}

/* /Team/ */

.team {
    width: 100%;
    height: 90vh;
    background-image: url(image/bg1.jpg);
    background-size: cover;
    background-position: center;
    background: #ffffff;

}

.team h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    margin-bottom: 30px;
    display: flex;
    margin-bottom: 150px;

}

.team h1 span {
    color: #ff9f1a;
    margin-left: 15px;
    font-family: mv boli;
}

.team h1 span::after {
    content: '';
    width: 100%;
    height: 2px;
    background: #ffffff;
    display: block;
    position: relative;
    bottom: 15px;
}

.team .team_icon {
    position: relative;
    display: flex;
    margin-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
}

.team .team_icon a {
    color: #2c2c54);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 5px;
    font-size: 18px;
    transition: 0.2s;
}

.team .team_box {
    background-color: #ffffff;
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 100px;
}

.team .team_box .profile {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transition: 0.4s;
}

.team .team_box .profile:hover {
    border-radius: 20px;
    height: 320px;
}

.team .team_box .profile img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: 0.4s;
}

.team .team_box .profile:hover img {
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info {
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;

}

.team .team_box .profile:hover .info {
    top: 60%;
    background: #c6c2b8;
}

.team .team_box .profile .info .name {
    color: #ffffff;
    margin-bottom: 15px;
}

.team .team_box .profile .info .bio {
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
    color: rgb(63, 28, 12);
}

.team .team_box .profile .info .team_icon i {
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.team .team_box .profile .info .team_icon i:hover {
    color: #fffffe;
}



/* /Footer/ */

footer {
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;
    border-color: #eeeeee;
}

footer .footer_main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag {
    text-align: center;
}

footer .footer_main .footer_tag h2 {
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p {
    margin: 10px 0;
}

footer .footer_main .footer_tag i {
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover {
    color: #ffffff;
}

footer .end {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span {
    color: #fac031;
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    border-radius: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: #fffefd;
    border-radius: 15px;
}



@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  --black: #2c2c54;
  --orange: #ff9f1a;
}

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;

}

.cont {
  height: 100px;
  
  position: static;
  top: 0px;
  width: 100%;

}


.logo {
    text-decoration: none;
  float: left;
  height: 100%;
  width: 30%;
  align-items: center;
  font-size: 24px;
  color: rgb(115, 193, 245);
  display: flex;
  padding: 0 5%;

}

.logo-img {
  display: flex;
  float: left;
  align-items: center;
  top: 0px;
}

.nav-links {
  float: right;
  width: 60%;
  height: 100%;
  display: flex;
  padding: 0px;
  margin: 0;
  justify-content: space-around;
  align-items: center;

}

.nav-links li {
  list-style: none;
}

.nav-links li a {

  box-sizing: border-box;
  outline: none;
  border: none;

  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 32px 9%;
}

.heading {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 64px;
  color: var(--black);
  padding: 16px;
  position: relative;
  top: 40px;
}

.heading span {
  text-transform: uppercase;
  color: var(--orange);
}

.btn {
  display: inline-block;
  margin-top: 16px;
  border-radius: 8px;
  border: 3px solid var(--black);
  font-weight: bolder;
  font-size: 20px;
  color: var(--black);
  cursor: pointer;
  background: #fff;
  padding: 11px 30px;
}

.btn:hover {
  background: var(--orange);
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  padding: 20px 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 8px 16px #0000001a;
}

header .logo {
  font-size: 30px;
  color: var(--black);
}

header .navbar a {
    text-decoration: none;
  font-size: 1.7rem;
  color: var(--black);
  margin: 0 16px;
}

header .navbar a:hover {
  color: var(--orange);
}

header .icons a {
  font-size: 2.5rem;
  color: var(--black);
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: var(--orange);
}

#menu-bar {
  font-size: 2.5rem;
  padding: .5rem 1.5rem;
  border: .1rem solid var(--black);
  color: var(--black);
  border-radius: .3rem;
  cursor: pointer;
  display: none;
}

.home {
  padding: 0;
  position: relative;
}

.home .slide-container .slide {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0 9%;
  padding-top: 9rem;
}

#search-bar {
  background-color: #333;
  border-radius: 20px;
  height: 40px;
  width: 300px;
  color: white;
  border: solid 3px #f1e0df;
}

.home .slide-container .slide .content {
  flex: 1 1 40rem;

}

@keyframes slideContent {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
}

@keyframes shoe {
  0% {
    transform: rotate(0deg) scale(.5);
  }
}

.home .slide-container .slide .image .text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  animation: shoeText .5s linear .5s backwards;
}

@keyframes shoeText {
  0% {
    opacity: 0;
    top: -10rem;
  }
}

.home .slide-container .slide .content span {
  font-size: 2rem;
  color: var(--orange);
}

.home .slide-container .slide .content h3 {
  font-size: 5rem;
  color: var(--black);
}

.home .slide-container .slide .content p {
  font-size: 1.7rem;
  color: #666;
  padding: .5rem 0;
}

.home #prev,
.home #next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 100;
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color: var(--black);
  border: .2rem solid var(--black);
  cursor: pointer;
  text-align: center;
}

.home #prev:hover,
.home #next:hover {
  color: #fff;
  background: var(--orange);
}

.home #prev {
  left: 3rem;
}

.home #next {
  right: 3rem;
}

.img-100 {
  
  margin: 10px;
}

